---
import { ROUTES } from "../../constants/routes";
import { Icon } from "astro-icon/components";
import SmartImage from "../ui/SmartImage.astro";
import logo from "../../assets/images/logo-iesl.webp"
import MobileMenu from "./MobileMenu.astro";
import Section from "../ui/Section.astro";

const pathname = Astro.url.pathname;
const isActive = (path: string) => {
  if (path === ROUTES.HOME) return pathname === ROUTES.HOME;
  return pathname.startsWith(path);
};
---

<Section as="header" class="py-2! md:py-4! border-b border-gray-100 bg-white shadow-sm sticky top-0 z-50">
  <div class="flex justify-between items-center">
    <a href={ROUTES.HOME} class="flex items-center gap-2">
      <SmartImage src={logo} alt="Logo" class="w-24 md:w-32 h-auto" loading="eager" />
    </a>
    <nav
      class="hidden md:flex gap-8 text-sm font-semibold text-gray-900 font-inter tracking-wide"
    >
      <a href={ROUTES.HOME} class:list={["hover:text-primary transition-global", isActive(ROUTES.HOME) && "text-primary"]}
        >Inicio</a
      >
      <div class:list={["hover:text-primary transition-global flex items-center gap-1 group relative cursor-pointer", isActive(ROUTES.COURSES) && "text-primary"]}>
        <a href={ROUTES.COURSES}>Cursos</a>
        <Icon name="mdi:chevron-down" class:list={["text-xl group-hover:text-primary transition-global", isActive(ROUTES.COURSES) ? "text-primary" : "text-gray-600"]} />

        {/* El dropdown contenedor */}
        <div class="absolute top-6 left-1/2 p-2 -translate-x-1/2 scale-80 opacity-0 invisible group-hover:opacity-100 group-hover:scale-100 group-hover:visible transition-global origin-top flex min-w-[540px] bg-white border border-gray-100 shadow-xl rounded-3xl z-50 overflow-hidden cursor-default">
          
          <!-- Columna Izquierda: Categorías -->
          <div class="flex flex-col w-1/2 border-r border-gray-50 p-2 gap-1 text-[15px]">
            <a href="#" class="px-4 py-3 bg-gray-50 rounded-2xl flex items-center justify-between text-gray-900 font-semibold group/cat transition-global">
              <div class="flex items-center gap-3">
                <Icon name="fluent:code-24-regular" class="text-primary text-[22px]" />
                <span>Desarrollo web</span>
              </div>
              <Icon name="mdi:chevron-right" class="text-gray-900 text-lg" />
            </a>
            
            <a href="#" class="px-4 py-3 hover:bg-gray-50 rounded-2xl flex items-center justify-between text-gray-900 font-medium group/cat transition-global">
              <div class="flex items-center gap-3">
                <Icon name="solar:graph-up-outline" class="text-primary text-[22px]" />
                <span>Data</span>
              </div>
              <Icon name="mdi:chevron-right" class="text-gray-900 text-lg" />
            </a>
            
            <a href="#" class="px-4 py-3 hover:bg-gray-50 rounded-2xl flex items-center justify-between text-gray-900 font-medium group/cat transition-global">
              <div class="flex items-center gap-3">
                <Icon name="fluent:design-ideas-24-regular" class="text-primary text-[22px]" />
                <span>Diseño</span>
              </div>
              <Icon name="mdi:chevron-right" class="text-gray-900 text-lg" />
            </a>

            <a href="#" class="px-4 py-3 hover:bg-gray-50 rounded-2xl flex items-center justify-between text-gray-900 font-medium group/cat transition-global">
              <div class="flex items-center gap-3">
                <Icon name="hugeicons:tie" class="text-primary text-[22px]" />
                <span>Management</span>
              </div>
              <Icon name="mdi:chevron-right" class="text-gray-900 text-lg" />
            </a>

            <a href="#" class="px-4 py-3 hover:bg-gray-50 rounded-2xl flex items-center justify-between text-gray-900 font-medium group/cat transition-global">
              <div class="flex items-center gap-3">
                <Icon name="fluent:briefcase-24-regular" class="text-primary text-[22px]" />
                <span>Negocios</span>
              </div>
              <Icon name="mdi:chevron-right" class="text-gray-900 text-lg" />
            </a>

            <a href="#" class="px-4 py-3 hover:bg-gray-50 rounded-2xl flex items-center justify-between text-gray-900 font-medium group/cat transition-global">
              <div class="flex items-center gap-3">
                <Icon name="hugeicons:megaphone-02" class="text-primary text-[22px]" />
                <span>Marketing</span>
              </div>
              <Icon name="mdi:chevron-right" class="text-gray-900 text-lg" />
            </a>
          </div>

          <!-- Columna Derecha: Sub-ítems -->
          <div class="flex flex-col w-1/2 p-6 gap-5 text-[15px]">
            <a href="#" class="text-gray-900 font-medium hover:text-primary transition-global">Full stack</a>
            <a href="#" class="text-gray-900 font-medium hover:text-primary transition-global">Desarrollo web</a>
            <a href="#" class="text-gray-900 font-medium hover:text-primary transition-global">JavaScript</a>
            <a href="#" class="text-gray-900 font-medium hover:text-primary transition-global">React Js</a>
          </div>
        </div>
      </div>
      <a 
        href={ROUTES.BENEFITS} 
        class:list={["hover:text-primary transition-global", isActive(ROUTES.BENEFITS) && "text-primary"]}
      >
        Beneficios
      </a>
      <a 
        href={ROUTES.COMMUNITY} 
        class:list={["hover:text-primary transition-global", isActive(ROUTES.COMMUNITY) && "text-primary"]}
      >
        Comunidad
      </a>
      <a 
        href={ROUTES.RESOURCES} 
        class:list={["hover:text-primary transition-global", isActive(ROUTES.RESOURCES) && "text-primary"]}
      >
        Recursos
      </a>
      <a 
        href={ROUTES.ABOUT} 
        class:list={["hover:text-primary transition-global", isActive(ROUTES.ABOUT) && "text-primary"]}
      >
        Nosotros
      </a>
    </nav>

    <!-- Botón de Menú para Mobile -->
    <button id="open-menu" class="md:hidden p-2 text-gray-900 hover:text-primary transition-colors cursor-pointer">
      <Icon name="mdi:menu" class="text-3xl" />
    </button>
  </div>
</Section>

<MobileMenu />
