---
import type { Color, IconName } from "../../types/icons";
import FloatingBadge from "./FloatingBadge.astro";
import SmartImage from "./SmartImage.astro";

interface Props {
  image: string | ImageMetadata;
  badgeTitle: string;
  badgeDescription: string;
  badgeIcon: IconName;
  badgeColor: Color;
  class?: string;
  badgePosition: "top-left" | "top-right" | "bottom-left" | "bottom-right";
}

const badgePositions = {
  "top-left": "-left-4 sm:-left-1/2 top-10 sm:top-20 origin-left",
  "top-right": "-right-4 sm:-right-1/2 top-10 sm:top-20 origin-right",
  "bottom-left": "-left-4 sm:-left-1/2 bottom-10 sm:bottom-20 origin-left",
  "bottom-right": "-right-4 sm:-right-1/2 bottom-10 sm:bottom-20 origin-right",
};

const { image, badgeTitle, badgeDescription, badgeIcon, badgeColor, class: className, badgePosition } = Astro.props;
---

<div
  class:list={["bg-gray-200 rounded-3xl text-gray-500 transition-global", className]}
>
  <SmartImage src={image} alt="" class="w-full h-full object-cover rounded-3xl"  />

  <FloatingBadge
    icon={badgeIcon}
    title={badgeTitle}
    description={badgeDescription}
    color={badgeColor}
    class={badgePositions[badgePosition]}
  />
</div>
